# DB settings
ENABLE_DB=false
# Available Options: Postgres, SQLite
DB_TYPE=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Cron settings
ENABLE_CRON=false
# Ssettings for reset token
I_AM_A_LITTLE_BITCH=false
I_AM_A_LITTLE_BITCH_CRON="1 * * * *"
I_AM_A_LITTLE_BITCH_WEBHOOK_URL=