DB_TYPE=sqlite
DB_HOST=
DB_PORT=
DB_NAME=blockme
DB_USER=
DB_PASS=

I_AM_A_LITTLE_BITCH=false
I_AM_A_LITTLE_BITCH_CRON="1 * * * *"
I_AM_A_LITTLE_BITCH_WEBHOOK_URL=

IGNORE_LIST="127.0.0.1, 192.168.1.1"