LOG_FORMAT=json
LOG_LEVEL=INFO
LOG_LOCATION=console

DB_TYPE=sqlite
DB_HOST=
DB_PORT=
DB_NAME=blockme
DB_USER=
DB_PASS=

RESET_ME=false
RESET_ME_CRON="1 * * * *"
RESET_ME_WEBHOOK=

IGNORE_LIST="127.0.0.1, 192.168.1.1"